<p id="notice"><%= notice %></p>

<main class="container-fluid">
  <div class="container">
    <div class="main_row row">
      <div class="main_wrapper">


        <%= link_to 'New Blog', new_blog_path %>

        <% @blogs.each do |blog| %>
          <div class="blog_box box_base">
            <p class="blog_user_name"><%= blog.user.name %><span class="blog_date">   <%= l blog.created_at %></span></p>
            <% if blog.picture.url %>
              <%= image_tag blog.picture.url , class: 'blog_image'%>
            <% end %>
            <div class="blog_content_box">
              <p class="blog_content"><%= blog.content %></p>
            </div>
            <ul class="blog_buttons_box">
              <li class="blog_buttons">
                <%= link_to "詳細", blog_path(blog.id) %>
              </li>
              <% if blog.user_id == current_user.id %>
                <li class="blog_buttons">
                  <%= link_to "編集", edit_blog_path(blog.id) %>
                </li>
                <li class="blog_buttons">
                  <%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
