<p id="notice"><%= notice %></p>

<% if @blog.picture.url %>
  <%= image_tag @blog.picture.url %>
<% end %>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.name %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
