<main class="container-fluid">
  <div class="container">
    <div class="main_row row">
      <div class="main_wrapper">
        <div class="user_box_base">

          <% if @user.image.thumb.url %>
              <%= image_tag @user.image.thumb.url, class: "user_show_image" %>
          <% end %>

          <div class="name_and_email">
            <p>
              <strong>Name:</strong>
              <%= @user.name %>
            </p>
            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>
          </div>

          <h1>フォロー</h1>
          <table class="user_index_table">
            <% @following_users.each do |user| %>
              <tr class="user_index_tr">
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= render 'follow_form', user: user %></td>
              </tr>
            <% end %>
          </table>

          <h1>フォロワー</h1>
          <table class="user_index_table">
            <% @followers.each do |user| %>
              <tr class="user_index_tr">
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= render 'follow_form', user: user %></td>
              </tr>
            <% end %>
          </table>

          <% if current_user.id == @user.id %>
            <div class="user_show_bottuns">
              <%= link_to edit_user_path(current_user.id) do %>
                <button type="button" class="btn btn-edit">edit</button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
