<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.image.url %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @user.image.url %>
    <strong>Thumbnail:</strong>
    <%= image_tag @user.image.thumb.url %>
  </p>
<% end %>

<%= link_to 'logout', session_path(current_user.id), method: :delete %>
